.types-of-cancer-main-container{
    text-align: center;
    padding: 0px 0.64rem;
  }
  .types-of-cancer-main-container h2,
  .patientsReview-main-section h2{
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    line-height: 1.07rem;
    margin-bottom: 1.77rem;
  }
  
  .types-of-cancer-main-container h2 > span, .patientsReview-main-section > h2 >span{
    color: var(--brandClr);
    font-size: 1rem;
  }
  

  
  .typesofcancer__subcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.72rem;
  }
  
  .typesofCancer__Card{
    width: 8.18rem;
    height: 9.63rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0.35rem;
    box-shadow: 0px 3.8683040142059326px 17.40736961364746px 0px #9EA8BD4F;
box-shadow: 0.5380151271820068px 0.5380151271820068px 3.228090763092041px 0px #00000026
  }




  .typesofCancer__Card >  img{
    width: 4.4rem;
    height: 4.4rem;
    position: absolute;
    top: 1.28rem;
  }
  
  .typesofCancer__Card > p{
    font-size: 1rem;
    font-weight: 600;
    height: 1.15rem;
    color: #000;
    position: absolute;
    top: 6.36rem;
  }


  @media screen and (min-width : 768px) {
    .typesofcancer__subcontainer{
        gap: 0.41rem;
    }
    .types-of-cancer-main-container h2, .patientsReview-main-section > h2{
        margin-bottom: 0.5rem;
    }
    .types-of-cancer-main-container br, .patientsReview-main-section br{
        display: none;

    }
    .typesofCancer__Card{
        width: 6.51rem;
        height: 7.38rem;
        border-radius: 0.26rem;
        box-shadow: 0px 7.144636154174805px 32.15086364746094px 0px #9EA8BD4F;

box-shadow: 0.9936969876289368px 0.9936969876289368px 5.96218204498291px 0px #00000026;

    }
    .typesofCancer__Card > img{
        width: 3.37rem;
        height: 3.37rem;
        top: 1rem;
    }
    .typesofCancer__Card > p{
        font-size: 0.62rem;
        top: 4.94rem;
        width: 5.7rem;
        font-weight: 600;
        line-height: 0.8rem;
    }
  }
  